body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: url('normal-people.webp') center/cover no-repeat;
    font-family: 'Arial', sans-serif;
    color: white;
}

#login-form{
    background: rgba(255, 255,255, 0.2);
    backdrop-filter: blur(3px);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    max-width: 300px;
    width: 100%;
}

#login-form label{
    display: block;
    margin-bottom: 8px;
    position: relative;
    left: -103px;
}

#login-form input{
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border-radius: 30px;
    border: none;
}

#login-form button{
    background-color: #e59009;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

#login-form button:hover{
    background-color: gray;
}